@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import 'tailwindcss';

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-bg: #fafafa;
    --color-surface: #f5f5f5;
    --color-border: #e5e5e5;
    --color-textmute: #737373;
    --color-text: #171717;
}

.dark {
    --color-bg: #0a0a0a;
    --color-surface: #171717;
    --color-border: #262626;
    --color-textmute: #a3a3a3;
    --color-text: #fafafa;
}

* {
    box-sizing: border-box;
}

body {
    @apply font-inter text-text bg-bg;
}

.button {
    @apply cursor-pointer rounded-lg px-4 py-2;
}
