@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import 'tailwindcss';

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-bg: #fafafa;
    --color-surface: #ffffff;
    --color-border: #ebebeb; /* #e5e5e5 */
    --color-textmute: #666666; /*#737373*/
    --color-text: #171717;
    --color-resume: #b22222;
    --color-project: #0070f3;
    --color-about: #f5a623;
    --color-about: #50e3c2;
    --color-about: #0cce6a;
    --color-wip-bg: #fef9c2cc;
    --color-wip-text: #894b00;
    --color-about: #0cce6a;
    --color-client-bg: #eef2ff;
    --color-client-text: #3730a3;
}

.dark {
    --color-sample: rgb(235, 235, 235);
    --color-bg: #050505;
    --color-surface: #0a0a0a;
    --color-border: #1f1f1f;
    --color-textmute: #a1a1a1;
    --color-text: #ededed;
    --color-resume: #b22222;
    --color-wip-bg: #894b001a;
    --color-wip-text: #fdc700;
    --color-client-bg: #1e1b4b;
    --color-client-text: #a5b4fc;
}

* {
    /* background-color: #fafafa; */
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
    @apply scroll-smooth;
}

body {
    @apply font-inter text-text bg-bg;
}

h1 {
    @apply text-2xl font-extrabold md:text-5xl lg:text-5xl;
}

h2 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl;
}

h3 {
    @apply font-semibold md:text-lg lg:text-xl;
}

.button {
    @apply cursor-pointer rounded-lg px-5 py-3;
}

.hover-stretch {
    transition: font-stretch 300ms ease;
}

.hover-stretch:hover {
    font-variation-settings:
        'slnt' 0,
        'wdth' 150,
        'GRAD' 0,
        'ROND' 0;
}
