@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    @apply bg-neutral-50 text-neutral-900 font-inter;
}
