@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import 'tailwindcss';

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-bg: #fafafa;
    --color-surface: #f5f5f5;
    --color-border: #e5e5e5;
    --color-textmute: #737373;
    --color-text: #171717;
    --color-resume: #b22222;
    --color-project: #008000;
}

.dark {
    --color-bg: #0a0a0a;
    --color-surface: #171717;
    --color-border: #262626;
    --color-textmute: #a3a3a3;
    --color-text: #fafafa;
    --color-resume: #b22222;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    @apply font-inter text-text bg-bg;
}

h1 {
    @apply text-xl font-extrabold md:text-3xl lg:text-4xl;
}

h2 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl;
}

h3 {
    @apply font-semibold md:text-lg lg:text-xl;
}

.button {
    @apply cursor-pointer rounded-lg px-5 py-3;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40;
}
